h1{
    color: red;
}

h2{
    text-align: center;
    color: aqua;
    background-color: blue;
}

p{
    font-size: 20px;
}

body{
    background-color: bisque;
}

*{
    color: green;
}

.center{
    text-align: center;
    font-size: 2rem;
}

p.center{
    color: blue;
}

#hid{
    background-color: yellow;
}